.main-content {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


:root {
  --primary-color: #00c6fb;
  --secondary-color: #232526;
  --text-color: #f3f6fa;
  --border-color: #2c3e50;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background: linear-gradient(135deg, #141e30 0%, #243b55 100%);
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    height: 80px;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

input {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
}


.btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 500;
  transition: background 0.2s ease-in-out;
}

.btn:hover {
  background-color: #0056b3;
}
